@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: "vazir";
    src: url("./assets/fonts/vazir/Vazir-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "vazir";
    src: url("./assets/fonts/vazir/Vazir-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "vazir";
    src: url("./assets/fonts/vazir/Vazir.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "vazir";
    src: url("./assets/fonts/vazir/Vazir-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "vazir";
    src: url("./assets/fonts/vazir/Vazir-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@utility container {
    padding-inline: 10px;
    margin-inline: auto;
    @variant sm {
        padding-inline: 20px;
    }
    @variant lg {
        padding-inline: 80px;
    }
}
@theme {
    --font-primary: "vazir", "sans-serif";
    --color-textColor: #101010;
    --color-bgGray: #EBEBEB;
    --color-brand-primary: #326D4D;
    --color-brand-accent: #50B07C;
    --color-border-default: #2bb05d;
    --color-text-primary: #13281C;
    --color-social-instagram: #541D3C;
    --color-social-telegram: #0C697A;
    --color-bgLight: #fefefe;
    --color-bgDark: #000;
}
@layer theme {
    .dark {
        --color-bgGray: #151515;
        --color-brand-accent: #024421;
        --color-textColor: #FFFFFF;
        --color-border-default: #1B432A;
    }
}
.line-shadow-custom::after {
    box-shadow: 3px 0 8px #063F20;
}
.text-shadow-custom {
    text-shadow: 8px 8px 6px #00000029;
}
.dark .text-shadow-custom {
    text-shadow: 8px 8px 6px #ffffff20;
}
.link-hover {
    @apply relative after:content-[''] after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-brand-primary after:transition-all after:duration-300 hover:after:w-full hover:after:left-auto hover:after:right-0 hover:text-brand-primary dark:hover:text-brand-primary;
}
.item-active {
    @apply border-2 border-border-default rounded-2xl;
}
.item-active::after {
    display: none;
}
.transition-400 {
    @apply transition-[0.4s];
}